{% extends 'base.html' %}

{% block content %}
{% load static %}

<style>
  .form-group {
    margin-bottom: 2px;

  }

  .btn-success {
  background-color: #460C90;
  border-color: #460C90;
  margin-top: 10px;
  }
</style>



<script src="{% static 'js/firebase-upload.js' %}">

</script>



<!-- REVIEW SECTION -->
<!-- Reviews List Modal -->
<div class="modal fade" id="reviewsModal" tabindex="-1" aria-labelledby="reviewsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewsModalLabel">Reviews</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Review Form Modal -->
<div class="modal fade" id="reviewFormModal" tabindex="-1" aria-labelledby="reviewFormModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewFormModalLabel">Add New Review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" id="add-review-form" class="space-y-6" action="#">
          {% csrf_token %}
          <table>
              {{ form.as_table }}
              <tr>
                  <td></td>
                  <td>
                      <input type="submit" value="Add Review" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 hover:cursor-pointer"/>
                      <!-- <button id="submit_new_book" type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add your book</button> -->
                  </td>
              </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Trigger buttons -->
<div class="container mt-5">
  <h5 class="text-uppercase font-weight-bold">Reviews</h5>
  <hr class="mt-0 pt-0">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#reviewFormModal">
      Make New Review
    </button>
</div>

</div>
<h2 class="mt-10 mb-4 text-3xl font-bold mx-8">Recent Reviews All Around The World:</h2>
<div id="reviews-container" class="flex flex-col gap-8 mx-10 mb-10">
</div>




<script>

  async function refreshReviews() {
    const reviewsContainer = document.getElementById("reviews-container");
    // reviewsContainer.innerHTML = '<p>Loading reviews ...</p>';

    const tmp = await fetch("/review/get-review")
    const data = await tmp.json()
    console.log("data")
    console.log(data.reviews)
    data.reviews.forEach(review => {
      console.log(review.user);
      console.log(review.content);
      reviewsContainer.innerHTML += "\n" +
      `<div class="shadow-xl w-full rounded-xl bg-zinc-100 px-4 py-6">` +
        `<p class="opacity-40">${review.user} gave <span class="font-bold opacity-100">${review.rating}</span> star to</p>` +
        `<h5 class="text-xl font-bold">${review.book}</h5>` +
        `<p>${review.content}</p>` +
      `</div>`
    })
  }
  refreshReviews();

  async function addReview(event) {
    event.preventDefault(); // Mencegah refresh halaman

    const formData = new FormData(document.getElementById('add-review-form'));

    const res = await fetch("/review/create-review/", {
        method: "POST",
        body: formData
    });
    const result = await res.json();

    if (res.ok) {
        refreshReviews(); // Memperbarui daftar review
        document.getElementById("add-review-form").reset(); // Reset form
    } else {
        alert("Error: " + result.message); // Menampilkan pesan error
    }
  }

  // Event listener untuk form submission
  document.getElementById("add-review-form").addEventListener('submit', addReview);


</script>
{% endblock content %}